.container {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  overflow: hidden;
  flex-wrap: nowrap;
}

.header {
  flex: 0 0 auto;
  border-bottom: 1px solid var(--accent-primary);
}

.content {
  flex: 1 1 auto;
  overflow: hidden;
  flex-wrap: nowrap;
}

.sidebar {
  flex: 0 1 auto;
  border-right: 1px solid var(--accent-primary);
}

.main {
  flex: 1 1 auto;
  height: 100%;
  overflow: auto;
}
