.flex {
  flex-wrap: nowrap;
}

.drag {
  flex: 0 0 24px;
  align-self: center;
  visibility: hidden;
  border-radius: var(--radius-normal);

  @nest .container:hover & {
    visibility: visible;
  }

  & > * {
    display: block;
    padding: 4px;
    margin: 8px 0;
    background-color: rgba(0, 0, 0, 0.1);

    &:hover {
      cursor: pointer;
    }
  }
}

.remove {
  flex: 0 0 16px;
  margin-left: 16px;

  &:hover {
    cursor: pointer;
  }
}

.transitionToScene {
  display: flex;
  align-items: center;
}

.transitionName {
  flex: 1 1 auto;
}

.transitionArrow {
  flex: 0 0 auto;
  width: 72px;
  padding: 0 24px;
  justify-content: center;
}

.transitionScene {
  flex: 1 1 auto;
}

.duration {
  display: flex;
  gap: 16px;
}
