.container {
  max-height: 85vh;
  min-width: 680px;
  max-width: 90vw;
  overflow: scroll;
}

.drag {
  flex: 0 0 24px;
  align-self: center;
  visibility: hidden;
  border-radius: var(--radius-normal);

  @nest .container:hover & {
    visibility: visible;
  }

  & > * {
    display: block;
    padding: 4px;
    margin: 8px 0;
    background-color: rgba(0, 0, 0, 0.1);

    &:hover {
      cursor: pointer;
    }
  }
}

.transitionText {
  flex: 1 1 auto;
}

.remove {
  flex: 0 0 16px;

  &:hover {
    cursor: pointer;
  }
}
