.container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.sidebar {
  flex: 1 0 220px;
  padding: 16px;

  & ul {
    padding: 0;

    & li {
      list-style: none;
      line-height: 1.4rem;
      margin-bottom: 8px;
    }
  }
}

.sidebarHeader:not(:first-child) {
  margin-top: 24px;
}

.newsletterContent {
  flex: 1 0 100%;
  margin: 16px 0;

  line-height: 1.8rem !important;
}

.article {
  margin-top: 2rem;

  & img {
    display: block;
    width: 85%;
    min-width: 320px;
    margin: 32px auto;
  }

  & hr {
    border: 1px solid var(--background-secondary);
    border-radius: var(--radius-normal);
  }
}

p {
  margin-bottom: var(--space-lg);
}

@media only screen and (min-width: 720px) {
  .container {
    flex-wrap: nowrap;
  }

  .sidebar {
    order: -1;
  }

  .newsletterContent {
    flex: 2 1 auto;
  }
}
