.runners {
  width: 100%;
  color: var(--text-normal);

  & th {
    text-align: left;
  }
}

.timer {
  font-family: var(--font-monospace);
}

.inProgress {
  color: var(--text-secondary);
}

.timer:not(.inProgress) {
  font-weight: var(--font-weight-bold);
}
